section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(slategray, #121212);
    padding-block: 10rem;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h4 {
        width: auto;
        max-width: 60vw;
        margin: 0 auto;
    }
}

.profile-details {
    display: flex;
    flex-direction: column;
    li {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-block: .5rem;
    }
    label {
        width: 48%;
        text-align: end;
        padding-inline-end: .5rem;
        padding-block-start: .5rem;
        font-size: 1rem;
    }
    .value {
        width: 48%;
        border-left: 1px;
        border-left-color: gray;
        border-left-style: solid;
        padding-inline-start: .5rem;
        margin-block: .2rem;
        font-size: 1.25rem;
    }
}