img {
    border-radius: 50%;
    border: .3rem solid white;
    width: 30vmin;
    height: 30vmin;
    margin: auto;
}

.profile-pic {
    width: 100vw;
    min-height: 40vmin;
    // padding: 5rem auto;
    // padding: 2rem auto;
    display: flex;
    // background-color: black;
}